---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
<link rel="shortcut icon" href="/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="ReWorxZ" />
<link rel="manifest" href="/favicons/site.webmanifest" />
		
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Chathura:wght@100;300;400;700;800&family=Chonburi&family=Lexend+Giga:wght@100..900&family=Rubik+Wet+Paint&family=Zen+Dots&display=swap" rel="stylesheet">
		<title>Welcome</title>
	</head>
	<body class="bg-hero1 bg-cover  h-screen">
		<div class="bg-black h-screen bg-opacity-75">
		<div class="flex items-center justify-center pt-60 "> 
			<img class="" src="/images/ReWorxzLogokern.png" />

	</div>
	
  <div class="flex items-center justify-center pt-6"> 
  <article class="prose lg:prose-xl text-center">
	
	
	<!-- ... -->
  </article>
  </div>
  <div class="flex items-center justify-center pt-6"> 
	<button id="page" class="bg-transparent hover:bg-yellow-600/50 text-white font-semibold hover:text-white py-2 px-4 border border-yellow-600/50 hover:border-transparent rounded">
		Welcome
		<script>
		document.getElementById('page').onclick = function() {
			location.href = '/about';
		};
		</script>
	  </button>
	  </div>
	  </div> 

	</body>
</html>
